body {
  background-image: url("https://cdn.vectorstock.com/i/composite/34,40/diagonal-lines-white-background-vector-3653440.jpg")
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #323232;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

li a {
  display: block;
  color: #000;
  padding: 15px 16px;
  text-decoration: none;
  text-align: center;
  float: right;
  color: white;
}

.active {
  background-color: #5F9F9F;
}

li a:hover {
  background-color: #000000;
}
